<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string> Versions</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>App</string>
			<key>Key</key>
			<string>appVersion</string>
			<key>DefaultValue</key>
			<string>Unknown</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Build</string>
			<key>Key</key>
			<string>buildNumber</string>
			<key>DefaultValue</key>
			<string>Unknown</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>CoreSDK</string>
			<key>Key</key>
			<string>coreVersion</string>
			<key>DefaultValue</key>
			<string>Unknown</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>MapSDK</string>
			<key>Key</key>
			<string>mapVersion</string>
			<key>DefaultValue</key>
			<string>Unknown</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>MapLibre</string>
			<key>Key</key>
			<string>mapLibreVersion</string>
			<key>DefaultValue</key>
			<string>Unknown</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>PositioningSDK</string>
			<key>Key</key>
			<string>positioningVersion</string>
			<key>DefaultValue</key>
			<string>Unknown</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Preferences</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable haptic feedback</string>
			<key>Key</key>
			<string>enableHapticFeedback</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Recalculate itinerary if user is far from itinerary</string>
			<key>Key</key>
			<string>itineraryRecalculationEnabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Project user location on itinerary</string>
			<key>Key</key>
			<string>userLocationProjectionOnItineraryEnabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Project user location on indoor graph</string>
			<key>Key</key>
			<string>userLocationProjectionOnGraphEnabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Switch levels automatically on user movements</string>
			<key>Key</key>
			<string>switchLevelsAutomaticallyOnUserMovements</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Stale state timeout in seconds</string>
			<key>Key</key>
			<string>staleStateTimeout</string>
			<key>DefaultValue</key>
			<string>5</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Points of interest loading timeout</string>
			<key>FooterText</key>
			<string>The maximum time in seconds allowed for loading points of interest. Default is 10 seconds</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Loading timeout in seconds</string>
			<key>Key</key>
			<string>pointsOfInterestLoadingTimeoutSeconds</string>
			<key>DefaultValue</key>
			<string>10</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>VPS Preferences</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Horizontal accuracy for accurate positioning state</string>
			<key>FooterText</key>
			<string>Default accuracy in meters applied to coordinate returned by VPS when state is accurate</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Horizontal accuracy</string>
			<key>Key</key>
			<string>accurateStateAccuracy</string>
			<key>DefaultValue</key>
			<string>1</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Horizontal accuracy for degraded positioning state</string>
			<key>FooterText</key>
			<string>Default accuracy in meters applied to coordinate returned by VPS when state is degraded</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Horizontal accuracy</string>
			<key>Key</key>
			<string>degradedStateAccuracy</string>
			<key>DefaultValue</key>
			<string>5</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Attitude accuracy</string>
			<key>FooterText</key>
			<string>Default accuracy in degrees applied to attitude returned by VPS</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Attitude accuracy</string>
			<key>Key</key>
			<string>attitudeAccuracy</string>
			<key>DefaultValue</key>
			<string>35</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>VPS Service</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use JPG image for VPS</string>
			<key>Key</key>
			<string>useJPGImageForVPS</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>JPG image compression quality</string>
			<key>Key</key>
			<string>jpgImageCompressionQuality</string>
			<key>DefaultValue</key>
			<string>70</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>VPS Controller</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Slow connection seconds</string>
			<key>FooterText</key>
			<string>The maximum allowed time in seconds for a VPS request, at which the connection will be considered slow and the error slowConnectionDetected will be triggered. Default is 5 seconds</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Slow connection seconds</string>
			<key>Key</key>
			<string>slowConnectionSeconds</string>
			<key>DefaultValue</key>
			<string>5</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Foreground scan minimum inclination angle</string>
			<key>FooterText</key>
			<string>The minimum angle of the phone in degrees allowed for sending an image during a foreground (user-initiated) scan. 0 - the phone is turned face down, 90 - in portrait mode. Default is 65 degrees</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Minimum inclination angle</string>
			<key>Key</key>
			<string>minInclinationAngle</string>
			<key>DefaultValue</key>
			<string>65</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Background scan minimum inclination angle</string>
			<key>FooterText</key>
			<string>The minimum angle of the phone in degrees allowed for sending an image during a background scan. Stricter than the foreground threshold to reduce noise. 0 - the phone is turned face down, 90 - in portrait mode. Default is 75 degrees</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Minimum inclination angle</string>
			<key>Key</key>
			<string>backgroundScanMinInclinationAngle</string>
			<key>DefaultValue</key>
			<string>75</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use grayscale image for VPS</string>
			<key>Key</key>
			<string>useGrayscaleImageForVPS</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Background scan time interval</string>
			<key>FooterText</key>
			<string>Time interval in seconds after which a new background scan will be scheduled. Default is 30 seconds</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Time interval</string>
			<key>Key</key>
			<string>backgroundScanTimeInterval</string>
			<key>DefaultValue</key>
			<string>30</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Background scan distance threshold</string>
			<key>FooterText</key>
			<string>The threshold value of the distance in meters that is used to determine the reliability of the VPS BE result. If the distance exceeds the threshold value, a new background scan will be scheduled to re-check the result. Default is 15 meters</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Distance threshold</string>
			<key>Key</key>
			<string>backgroundScanDistanceThreshold</string>
			<key>DefaultValue</key>
			<string>15</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Degraded positioning distance threshold</string>
			<key>FooterText</key>
			<string>Distance traveled in meters at which the degraded positioning state will be triggered if the scan has not been performed. Default is 75 meters</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Distance threshold</string>
			<key>Key</key>
			<string>degradedDistanceThreshold</string>
			<key>DefaultValue</key>
			<string>75</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Not positioning distance threshold</string>
			<key>FooterText</key>
			<string>Distance traveled in meters at which the not positioning state will be triggered if the scan has not been performed. Default is 150 meters</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Distance threshold</string>
			<key>Key</key>
			<string>notPositioningDistanceThreshold</string>
			<key>DefaultValue</key>
			<string>150</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Camera image side</string>
			<key>FooterText</key>
			<string>The maximum size of the smaller side of the camera image sent to the server</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Camera image side</string>
			<key>Key</key>
			<string>cameraImageMaxSizeSmallerSide</string>
			<key>DefaultValue</key>
			<string>720</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Static position detector</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Window duration seconds</string>
			<key>Key</key>
			<string>staticPositionDetectorWindowDurationSeconds</string>
			<key>DefaultValue</key>
			<string>3</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Geofence radius meters</string>
			<key>Key</key>
			<string>staticPositionDetectorGeofenceRadiusMeters</string>
			<key>DefaultValue</key>
			<string>1</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Conveying detector</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Duration seconds</string>
			<key>Key</key>
			<string>conveyingDetectorDurationSeconds</string>
			<key>DefaultValue</key>
			<string>3</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Elevator buffer radius</string>
			<key>Key</key>
			<string>conveyingDetectorElevatorBufferRadius</string>
			<key>DefaultValue</key>
			<string>5</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Linear conveying buffer offset</string>
			<key>Key</key>
			<string>conveyingDetectorLinearConveyingBufferOffset</string>
			<key>DefaultValue</key>
			<string>2</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Navigation</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use wheelchair</string>
			<key>Key</key>
			<string>useWheelchair</string>
			<key>DefaultValue</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Arrived distance threshold</string>
			<key>FooterText</key>
			<string>The distance measured in meters, indicating when the navigation manager considers that the user has arrived at the final destination. Default is 15 meters</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Arrived distance threshold</string>
			<key>Key</key>
			<string>arrivedDistanceThreshold</string>
			<key>DefaultValue</key>
			<string>15</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>User position threshold</string>
			<key>FooterText</key>
			<string>The distance measured in meters indicates when the user&apos;s location will no longer be projected onto the itinerary and navigation will be recalculated. Default is 15 meters</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>User position threshold</string>
			<key>Key</key>
			<string>userPositionThreshold</string>
			<key>DefaultValue</key>
			<string>15</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Navigation recalculation time interval</string>
			<key>FooterText</key>
			<string>The navigation recalculation time interval, measured in seconds, indicates the interval between consecutive navigation recalculations. An interval of less than 5 seconds is forbidden. Default is 5 seconds</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Navigation recalculation time interval</string>
			<key>Key</key>
			<string>navigationRecalculationTimeInterval</string>
			<key>DefaultValue</key>
			<string>5</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
	</array>
</dict>
</plist>
